.card{
    max-width: 1000px;
}

.img-logo{
    max-width: 20px;
    max-height: 20px;
}

.list-group-item2{
    list-style: none;
    
}

.img-camiseta{
    max-width: 300px;
   
}

@media(max-width:450px){
    .list-group-item2 a{
        font-size: 0.8em;
        
    }

    .img-camiseta{
        max-width: 200px;
       
    }
}