* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/other-imgs/header2.png");
}

header {
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  background-color: rgba(0, 104, 31, 0.904);
  margin-top: 10px;
  width: 90%;
  height: 90vh;
  min-width: fit-content;
  min-height: fit-content;
  padding: 15px;
  border: 10px solid rgba(255, 255, 255, 0.466);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Container GENERAL para la BANCA y JUGADOR */
#containerBanca,
#containerPlayer {
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;

  border: 8px solid rgb(255, 255, 255);
  border-radius: 16px;

  border-end-start-radius: 8px;
  border-end-end-radius: 8px;
  border-start-end-radius: 8px;
  border-start-start-radius: 8px;

  border-right: none;
  border-left: none;
}

#containerBanca {
  border-bottom: none;
  border-right: 8px solid rgb(255, 255, 255);
  border-left: 8px solid rgb(255, 255, 255);
}

#containerPlayer {
  border-top: none;

  border-right: 8px solid rgb(255, 255, 255);
  border-left: 8px solid rgb(255, 255, 255);
}

/* Botonera en el centro, ocupando todo el ancho de #container */
#containerBotonera {
  height: 10vh;
  width: 60%;
  border: 5px ridge rgba(255, 255, 255, 0.349);
  border-radius: 8px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  background-color: rgba(0, 63, 19, 0.904);
  box-shadow: 0px 0px 25px rgba(255, 255, 255, 1);
}

#datosBanca,
#datosPlayer {
  align-items: center;
  text-align: center;

  width: 20%;
  min-width: 130px;

  height: 30vh; /* Ajuste para igualar a la altura de #tapeteBANCA */
  min-height: fit-content;
  border: 5px ridge rgba(255, 238, 0, 1);
  border-radius: 8px;
}
.bancaName,
#playerName {
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 6px;
  font-weight: bolder;
  height: 40px;
}
.puntajeBanca,
.puntajePlayer {
  color: rgb(255, 255, 255);
  height: fit-content;
 
  border: solid 3px rgb(255, 255, 255);
  border-radius: 4px;
}
.stats {
  background-image: url("../img/other-imgs/ficha.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;
  
  color: rgb(255, 255, 255);
  padding: 3px;
  font-weight: bolder;
  height: 38%;
}
#puntosBanca,
#puntosPlayer {
  font-size: 50px;
}
.puntos {
  font-size: 30px;
}

/* TAPETE DE JUEGO CROUPIER */
#tapeteBanca,
#tapetePlayer {
  width: 75%;
  height: 30vh;
  min-height: fit-content;
  padding: 15px;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

#tapeteBanca img,
#tapetePlayer img {
  transition: transform 0.9s ease, box-shadow 0.3s ease;
}
#tapeteBanca img:hover,
#tapetePlayer img:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.game-button {
  font-weight: bold;
  font-size: larger;
  border: none;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 1s ease, outline 0.5s ease;
}
#oneMore {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 104, 31, 0.904);
  border: ridge 2px rgb(255, 255, 255);
  /* transition: ease 2s; */
}

#oneMore:hover {
  color: rgb(0, 0, 0);
  background-color: rgba(0, 189, 57, 0.904);
  border: ridge 4px rgb(255, 255, 255);
  font-weight: bolder;
}

#stop {
  color: rgb(255, 255, 255);
  background-color: rgba(138, 0, 0, 0.904);
  border: ridge 2px rgb(255, 255, 255);
  /* transition: ease 2s; */
}
#stop:hover {
  color: rgb(0, 0, 0);
  background-color: rgba(235, 86, 86, 0.904);
  border: ridge 4px rgb(255, 255, 255);
  font-weight: bolder;
}

#jugarMas {
  color: rgb(255, 255, 255);
  background-color: rgba(41, 99, 224, 0.904);
}
#jugarMas:hover {
  color: rgb(0, 0, 0);
  background-color: rgba(86, 138, 235, 0.904);
  border: ridge 4px rgb(255, 255, 255);
  font-weight: bolder;
}