<div class="card">
  <img [src]="team?.strBadge" class="card-img-top p-4 mx-auto" alt="..." />
  <div class="card-body">
    <h2 class="card-title text-center">{{ team?.strTeam }}</h2>

    <p class="fw-bold text-center mt-3">DATOS</p>
    <ul class="list-group text-center">
      <li class="list-group-item city">
        <strong>Ciudad: </strong><br />
        {{ team?.strLocation }}
      </li>
      <!-- <li class="list-group-item"><strong>Estadio: </strong> <br> {{ team?.strStadium }}, <br>{{ team?.intStadiumCapacity }} de capacidad</li> -->
    </ul>
    <!-- y para pasarle el endpoint, le damos parametro al routerLink -->
    <!-- no hay endpoint en esta basura de API -->
    <div class="d-flex justify-content-center">
      <button class="btn btn-primary w-50 mt-3" (click)="verDetalles()">Ver en Detalle</button>
    </div>
  </div>
</div>
