<div class="container">
  <h1>Peliculas</h1>
  <div class="row row-cols-4 row-cols-md-4 g-4">
    @for (item of peliculas; track $index) {
      <div class="col">
        <div class="card h-100">
          <img [src]="item.posterURL" class="card-img-top" [alt]="item.title" />

          <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <p class="card-text">IMDB: {{ item.imdbId }}</p>
            <p class="card-text">ID: {{ item.id }}</p>
          </div>
        </div>
      </div>
    }
  </div>
</div>
