body{
    display: flex;
    justify-content: center;
  margin: auto;
}

.formi{
    padding: 15px;
    display: flex;
    flex-direction: column;
    
    align-items: flex-end;
    gap: 15px;
    margin: 10px;
    min-width: fit-content;
    background-color: darkgray;
    border-radius: 8px;
}

.formi input, textarea{
    margin: 0 40px 0 8px;
    padding: 5px;
    border-radius: 8px;
   
}
.sms{
    display: flex;
    flex-direction: column;
}